@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: #111;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;//para eviatar que aparezca el scroll en todo el ancho de la pagina
}

.list{
  margin-top: -11rem;
}

footer{
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  span{
    margin: 0rem 0.3rem 0rem 0.2rem;
    display: flex;
    justify-content: space-between;
  }
}